.rectangle{
    margin-top: 7vw;
    
    background: hsl(266, 9%, 85%);
    height:41.4vw;
    display: flex;
    align-items: end;
}
.half-ellipse-in-rectangle{
    position:relative;
   
    left:-13.2vw;
    width:126.4vw;
	height: 90vw;
	background-color: rgb(255, 255, 255);
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    
    
}

.rectangle-for-half-ellipse{
    width:100vw;
    height:35vw;
    overflow-y: hidden;
   
   
}

.steps{
    position: absolute;
    top:140vw;
    left:23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.steps h3{
    
    font-size: 3.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #747474;
    word-spacing: 2px;
}
.steps-list{
    display: flex;
    justify-content: center;
    margin-top: 2vw;

}
.steps-list li{
    margin: 0px 1vw;
    font-size: 2vw;
    font-weight: bold;
    color: #747474;
   text-align: center;
    background-color: #D8D5DC;
    padding: 0.3vw 1vw;
    border-radius: 50%;
    font-family: sans-serif;
}
.steps-list li:first-child{
    background-color: #7621EC;
    color: white;
}
.steps h4{
    margin: 1.8vw 0;
    color: #7621EC;
   font-size: 2.4vw;
   font-weight: lighter;

}
.steps p{
    line-height: 1.4;
    margin:4vw auto;
    width:53vw;
    font-size: 1.5vw;
    text-align: center;
}
.step-img{
    width:34vw;
}