.full-navbar{
    
    box-shadow: -1px -3px 25px -1px rgba(0, 0, 0, 0.759);
}
a{
    text-decoration: none;
    color:#7621EC;
}
.navbar-upper{
  
    height:2vw;
    background-color: #7621EC;
    box-shadow: 2px -2px 21px 0px rgba(0,0,0,0.75);

}
.navbar-upper-shadow{
    height: 2.4vw;
    
   
}
.navbar{
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    color:#7621EC;
    height:7vw;
    justify-content: space-between;
    font-size: 1.5vw;    
    font-weight: bolder;
    overflow-y: hidden;
    
    
}
.logo{
    
    
}
.logo img{
    margin-left: 3vw;
    
    width:10vw;
   
}


.hide{
    
    display: flex;
    width: 100vw;
    margin-right: 2.5vw;
    justify-content: flex-end;
   
}
.hide li{
    
    padding:0.7vw 1vw;
    margin-left: 2vw;
    list-style: none;
   
    
}
.hide li:hover{
    background-color: #7621EC;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    

}
.list-images{
   
    width:80vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
