.carousel{
    position:relative;
   top:-25vw;
   height: 54vw;
   overflow: hidden;
    width:100vw;
}


.card{
    background-color: #7621EC;
    display: flex;
    padding:3vw;
    
    
}
.card >img{
    width:30vw;
    height:36vw;
}
.success-stories{
    width:51vw;
    margin: auto;
    margin-top: 1.3vw;
   
    text-align: justify;
    color:#F5F5F5;
    font-family: sans-serif;
}
.success-stories h2{
    font-size:3.5vw;
}
.success-stories p{
    font-size: 1.3vw;
    width:35vw;
    
    margin: auto;
    position: relative;
    top:-4vw;

}
.css-1m9128y {
    width: 100%;
    left:17vw;
    top: -8vw;
    z-index: 1;
    
    position: relative;
  
    text-align: center;
}
.quote_1{
    position: relative;
    top:-1vw;
    width:6vw;
}
.quote_2{
    position: relative;
    top:-5vw;
    width:6vw;
    float:right;
}
.css-1m9128y .MuiButtonBase-root{
    width:1.2vw;
    height:1.2vw;
    margin-left: 0.4vw;
    
}

.css-1m9128y >button > .css-d4n4tp{
    width:1vw !important;
    height:1vw !important;
}
.css-aq8pb7-MuiSvgIcon-root , .css-d4n4tp{
    width:1vw !important;
    height:1vw !important;
}
