.under-navbar{
    /* height:52.5vw; */
    position: absolute;
    overflow-y: hidden;
}


.half-ellipse{

    height:90vw;
    width:100vw;
    border-radius: 50%;
    background-color: rgba(181, 142, 217, 0.159);
    transform: translateY(-50%);
    display: flex;
    align-items:flex-end;
    justify-content:center;
    
}

.circle-in-center{
    width:27vw;
    background-color: #7621EC;
    height: 27vw;
    border-radius: 50%;
    position:relative;
    bottom:17vw;
    box-shadow: 2px 1px 48px -12px rgba(0, 0, 0, 0.937);
    display: flex;
    align-items: center;
}
.grey-circle{
    width:24vw;
    background-color: rgb(215, 211, 217);
    height: 24vw;
    display: flex;
    align-items: center;
    margin: auto;
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
    border-radius: 50%;

}
.img1{
    position:absolute;
    width:26vw;
    left: 6vw;
    top: -3vw;    
    z-index: 1;

}
.img2{
    width:26vw;
    position: absolute;
    top:-3vw;
    right:5vw;
}
.img3{
    position: absolute;
    width:26vw;
    top:17vw;
    left: 14vw;
}
.img4{
    position: absolute;
    width:26vw;
    top:17vw;
    right:15vw;
}
.grey-line-circle{

    width:21vw;
   
    border: 1px solid rgba(96, 96, 96, 0.383);
    margin: auto;
    height: 21vw;
    border-radius: 50%;
    display: flex;
}

.white-circle{
    width:18vw;
    background-color: white;
    margin: auto;
    height: 18vw;
    border-radius: 50%;
    color: #7621EC;

}
.small-purple-circle{
    width:1vw;
    height:1vw;
    background-color: #7621EC;
    border-radius: 50%;
    position:relative;
    z-index: 1;
}
.first-circle {
    left:56vw; 
    top:7.8vw;
}
.second-circle {
    top: 20vw;
    left: 40.4vw;
}

#one-stop{
    font-style: italic;
    margin-top: 3vw;
    font-size: 2vw;
}
#solutions{
    font-style: italic;
    font-size: 4vw;
    line-height: 0.8;
    overflow-y: hidden;
    
}
.for-all{
    font-style: italic;
    font-size: 1.5vw;
    line-height: 1.4;
}
#wellness{
    font-style: italic;
    font-size: 2.5vw;
    font-weight: bolder;
    color: white;
    background-color: #7621EC;
}

